* {
  margin: 0;
  
}

html{
  background-color: #070707;
}

body {
  list-style-type: none;
  color: #a79999;
  font-family: "Plex Sans", sans-serif;
  text-decoration: none;
  width: 100%;
}

a {
  text-decoration: none;
  color:white;
}

p{
  padding: 10px;
}

.conteiner {
  align-content: center;
  max-width: 1240px;
  width: 90%;
  display: block;
  margin: auto;
}

.site-footer
{
  font-size:13px;
  line-height:17px;
 
  
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5;
}
.site-footer hr.small
{
  margin:0px;
}
.site-footer h6
{
  color:#fff;
  font-size:15px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  height: 100%;
  color:#a79999;
}

.footer-links li
{
  display:block
}
.footer-links a
{
  color:#a79999;
}

li {
  list-style-type: none;
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block;
}

footer{
  background-color:black;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  min-height: calc(100vh - 80px);
}

.social-icons #VK:active,
.social-icons a:focus,
.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}

.social-icons #YouTube:active,
.social-icons #YouTube:focus,
.social-icons #YouTube:hover
{
  color:#fff;
  background-color:red;
}

.obratka ul{
  margin: auto;
  padding: 10px;
}

.topbar {
  background: #070707;
  display: flex;
  font-size: 13px;
}

#img1 {
  display: flex;
  flex-direction: column;
  height: 50%;
  flex-wrap: wrap;
  align-content: center;
}

#img2 {
  width: 60%;
}

.toplogo {
  flex-direction: row;
  padding-left: 15px;
}

.topbarright {
  margin-left: auto;
}

.topbarright a {
  margin-right: 25px;
}

.contentbar {
  background-color: #cd5c5c;
  height: auto;
  display: flex;
  flex-direction: row;
  width: 100%;

}

.butt {
  width: 100%;
  justify-self: center;
  display: flex;
  cursor: pointer;
  font-size: 3em;
  justify-content: center;
}

.butt:hover {
  background-color: #c9828279;
}

.content{
  padding: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.content h6{
  font-size: 20px;
}

.tagbar {
  margin-left: 20vh;
  margin-right: 20vh;
  background-color: #f5f5f5;
  width: 80%;
  height: 5vh;
  font-family: "Plex Sans", sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
}

.tagbar a {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 8vh;
}

@media(max-width: 800px) {
  a {
    font-size: large;
  }
}